.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1380px;
  width: 95%;
  margin-bottom: 80px;
}
.subHeader {
  font-family: ivypresto-display, Times New Roman, Times, serif;
  font-size: 48px;
  line-height: 50px;
  text-align: start;
  color: #000;
  font-weight: 500;
}
.underHeaderNote {
  font-size: 14px;
  line-height: 29px;
  font-weight: 400;
  font-family: Gotham-Book, Arial, serif;
  margin: 5px 0 0 0;
}
.mainaccorhead {
  font-size: 18px;
  line-height: 24px;
  color: #000;
  text-align: start;
  font-weight: 400;
  font-family: var(--bmd-font-Secondary);
}
.parainner {
  font-size: 14px;
  color: #000;
  font-family: var(--bmd-font-Secondary);
  padding: 14px 0 0;
}
.twoCol {
  display: flex;
  gap: 30px;
}
.FaqImage {
  max-width: 424px;
  max-height: 695px;
  margin: auto;
}
.FaqImage img {
  width: 100%;
  border: 1px solid #eaeaea;
}
.accordionItem {
  border-bottom: 1px solid #d9d9d9;
  padding: 18px 0 18px 0;
}
.dGrid {
  margin: auto;
  width: 40%;
}
.wrapper {
  width: 60%;
}
.accordionItem.mainaccorhead .isExpanded {
  color: #f46028 !important;
  background-color: red;
}
@media screen and (max-width: 1380px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    width: 95%;
  }
  .subHeader {
    font-size: 38px;
    line-height: 40px;
  }
  .mainaccorhead {
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
}
@media screen and (max-width: 1024px) {
  .accordion {
    width: 90%;
  }
  /* .twoCol {
    display: grid;
    margin: auto;
  } */

  .twoCol {
    display: flex;
    gap: 30px;
  }
  .FaqImage {
    max-height: 500px;
  }
  .FaqImage img {
    width: 100% !important;
  }
  .FaqImage img {
    max-height: 500px;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
  .twoCol {
    display: grid;
    gap: 40px;
  }

  .wrapper {
    width: 80%;
    margin: auto;
}
}
@media screen and (max-width: 769px) {
  .dGrid {
    width: 95%;
    margin: auto;
  }
  .subHeader {
    font-size: 30px;
    line-height: 40px;
  }
  .mainaccorhead {
    font-size: 14px;
    line-height: 20px;
  }
  .container {
    margin-top: 10px;
  }
  .wrapper {
    width: 95%;
    margin-left: 10px;
    margin-right: 0;
  }
}
@media screen and (max-width: 426px) {
  .parainner {
    font-size: 12px;
    padding: 8px 0 0 0;
  }
  .subHeader {
    font-size: 25px;
    line-height: 40px;
  }
}
