/* vinod */
.CollogenContent {
  padding: 50px 41px;
  /* background: #fcf6ff; */
  width: 60%;
  /* height: 100%; */
  display: flex;
  align-items: center;
}

.OverflowDiv {
  /* height: 208px;
  overflow: auto; */
}

.CollagenImage {
  width: 40%;
  display: flex;
  align-items: center;
}

.CollagenImage .ImagCollo {
  /* width: 100%; */
  /* height: 100%; */
  /* border: 1px solid; */
}

.ImagCollo img {
  /* width: 100%; */

  display: flex;
}

.CollogenContent h3 {
  color: #000;
  text-align: center;
  line-height: 58px;
  font-family: ivypresto-display, Times New Roman, Times, serif;
  font-size: 48px;
  font-weight: 400;
  /* 104.167% */
  margin-bottom: 19px;
}

.CollogenContent p {
  color: #000;
  text-align: center;

  /* font-family: Gotham; */
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  margin: 0 0 40px 0;
  padding: 0 10px;
  font-size: 14px;
  /* margin-top: 15px; */
  min-height: 50px;
  font-family: var(--bmd-font-Secondary);
}

.CollaButton {
  border-radius: 8px;
  /* background: #56008c; */
  /* padding: 12px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 351px;
  margin: auto;
}

.CollaButton button {
  color: #fff;
  text-align: center;
  /* font-family: Gotham; */
  font-family: var(--bmd-font-Secondary);
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  /* 150% */
  padding: 15px 0;
  text-transform: uppercase;
}

.grid {
  display: flex;
  width: 100%;
}

.CollogenContInner {
  width: 80%;
  margin: auto;
}

/* vinod */

.modal {
  opacity: 1;
  height: 100vh;
  overflow: auto;
  background: rgba(0, 43, 78, 0.58);
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1115;
}

.modalOverlayV2 {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  /* opacity: 0.63; */
  cursor: pointer;
  position: absolute;
}

.modalContainer1 {
  border-radius: 15px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px 10px;
  width: 90%;
  margin: auto;
  height: auto;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  padding: 50px 30px;
}

.exitButton1 {
  position: absolute;
  right: 20px;
  top: -16px;
  border-radius: 10px;
  border: 0.5px solid #000;
  background: #fff;
  width: 35px;
  height: 35px;
  padding: 6px;
}

.modalImgHolder {
  width: 200px;
  /* height: auto; */
  margin-right: 10px;
  border-radius: 15px;
  float: left;
  box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.25);
}

.title {
  font-family: var(--bmd-font-Secondary);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 10px;
}

.expanded {
  font-size: 14px;
  /* margin-top: 15px; */
  min-height: 50px;
  color: black;
  font-family: var(--bmd-font-Secondary);
}

/* false */
.container {
  margin: auto;
  /* padding: ; */
  max-width: 1380px;
  width: 95%;
  margin-bottom: 80px;
  /* display: contents; */
}

@media (max-width: 1199.98px) {
  .CollogenContent {
    padding: 35px 14px;
    background: #fcf6ff;
    width: 60%;
    /* height: 100%; */
    display: flex;
    align-items: center;
  }
}

@media (max-width: 1024.98px) {
  .grid {
    display: block;

    /* width: 100%; */
  }

  .CollogenContInner {
    width: 90%;
  }

  .CollogenContent {
    /* padding: 50px 41px; */
    background: #fcf6ff;
    width: 100%;
    /* height: 100%; */
  }

  .CollagenImage {
    display: flex;
    width: 100%;
    margin: 20px 0;
  }

  .CollagenImage img {
    max-width: 500px;
    margin: auto;
    /* padding: 0 10px; */
  }
}

@media (max-width: 991.98px) {
  .CollogenContent {
    padding: 30px 20px;
  }
}

@media (max-width: 767.98px) {
  .CollogenContent h3 {
    font-size: 30px;
  }

  .CollogenContent p {
    font-size: 14px;
  }

  .modalImgHolder {
    margin-right: 150px;
  }

  .CollaButton {
    width: 300px;
  }

  .OverflowDiv {
    height: 60vh;
    overflow: auto;
  }
}

@media (max-width: 400.98px) {
  .CollogenContent {
    padding: 30px 0;
  }

  .CollaButton {
    width: 240px;
    margin: auto;
  }

  .CollagenImage img {
    width: 80%;
    margin: auto;
    /* padding: 0 10px; */
  }
}
