.box1,
.box2 {
    overflow-y: hidden;
    width: 100%
}

.app,
.box1,
.box2 {
    width: 100%
}

.content,
.contents,
.hr,
.tab {
    position: relative
}

.accordTitle,
.tab {
    background: #fff;
    font-size: 16px;
    text-transform: capitalize
}

.app {
    margin: auto;
    padding: 7px;
    height: auto
}

.box1 {
    margin: 50px auto auto;
    height: 60px
}

.box1::-webkit-scrollbar-track,
.contents::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #f5f5f5
}

.box1::-webkit-scrollbar,
.contents::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background-color: #f5f5f5
}

.box1::-webkit-scrollbar-thumb,
.contents::-webkit-scrollbar-thumb {
    background-color: #000
}

.box2 {
    margin: 20px auto auto
}

.tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #f2efe6;
    width: 1000px
}

.downArrow,
.upArrow {
    width: 13px;
    height: 13px
}

.tab {
    padding: 10px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    border-top: none;
    cursor: pointer
}

.accordDesc,
.accordTitle {
    font-style: normal;
    line-height: 20px
}

.downArrow {
    transform: rotate(90deg);
    margin: auto 8px
}

.upArrow {
    transform: rotate(270deg);
    margin: auto 4px
}

.active-tab {
    border: none
}

.titleContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem
}

.titleContainer h2 {
    color: var(--bmd-black);
    font-family: var(--bmd-font-Primary);
    font-size: 32px;
    font-weight: var(--bmd-IvyPresto-regular);
    line-height: 1;
    width: 100%
}

.accordDesc,
.accordTitle,
.active,
.titleContainer a {
    font-family: var(--bmd-font-Secondary)
}

.titleContainer a {
    flex: 0 0 auto;
    font-size: 10px
}

.accordDesc ul {
    list-style: disc !important;
    margin-left: 20px
}

.contents {
    margin-top: 15px;
    overflow: auto;
    max-height: 360px;
    height: auto;
    margin-bottom: 35px
}

.detailHolder p {
    margin: 0 0 1em
}

.content {
    display: none
}

.activeContent {
    display: block;
    margin: 0 25px;
    padding: 20px 0 10px
}

.accordDesc strong,
.activeContent strong {
    padding: 20px 0 5px;
    display: grid
}

.active {
    max-width: 1300px;
    margin: auto
}

.hr {
    width: 100%;
    height: 3px;
    bottom: -12px
}

.accordTitle {
    width: 90%;
    height: 50px;
    font-weight: 500;
    color: #222;
    margin: 16px;
    border-bottom: 1px solid #f2efe6
}

.accordDesc {
    font-weight: 400;
    font-size: 14px;
    margin: 20px auto;
    height: 0;
    transition: .5s;
    overflow: auto
}

.accordFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 15px
}

@media screen and (max-width:900px) {
    .box1 {
        height: 50px
    }
}

@media screen and (max-width:600px) {
    .box1 {
        margin-top: 20px
    }

    .accordTitle, .tab {
        background: #fff;
        font-size: 12px;
        white-space: nowrap;
        text-transform: capitalize;
      
}
.tabs{
    width: 100%;
}

.box1::-webkit-scrollbar,
.contents::-webkit-scrollbar {
    height: 2px;
    width: 6px;
    background-color: #f5f5f5
}

.box1::selection {
    background-color: #fbfbfb !important;
    color: #fff !important;
}

.activeContent {
    padding: 0px;
    margin: 0 0px;
    
}
.container {
    width: 100%;
}
}