.stickyNav {
    /* position: fixed; */
    top: 0;
    z-index: 1111;
    right: 0px;
    height: 35px;
}

.menuIconDiv {
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    z-index: 10;
    position: relative;
    /* border-radius: 50%; */
    border-top-left-radius: 25px;
    border-bottom-left-radius:25px;
    padding: 3px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:transparent;
    /* box-shadow: 0px 0px 6px 1px #c1c1c1; */
}
.menuIcon{
    color: rgb(255, 255, 255);
    display: flex;
}




.iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    max-height: 0;
    position: absolute;
    overflow: hidden;
    transition: max-height 0.6s ease, top 0.5s ease;
}
.show {
    opacity: 1;
    max-height: 300px;
    border: none;
    top: 50px;
    gap: 10px;
    left: 0px;
    /* right: -81px; */
    padding: 4px;
    display: flex;
    align-items: self-start;
}


.icon {
    /* font-size: 24px;
    background-color: #000;
    margin: 5px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease; */
}



.iconDiv{
    background-color: #fdfdfd; 
    color: rgb(0, 0, 0); 
    padding: 2px 20px; 
    border-radius: 50px; 
    display: inline-block; 
    font-size: 16px; 
    font-family: var(--bmd-font-Secondary);
    text-align: center; 
    box-shadow: 0 4px 4px 0 rgba(114, 113, 113, 0.075), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    text-align: left;
    
    
}
.show .icon {
    opacity: 1;
    transform: translateY(0);
    border-radius: 50%;
}

/* .icon:hover {
    color: #3498db;
    transition: color 0.3s ease;
} */