.MobTab {
  display: none;
}

@media (max-width: 767px) {
  .MobTab {
    display: block;
  }

  .mydiv {
    display: none;
  }

  .bottelTab {
    display: flex;
    margin: 1rem;
    gap: 1rem;

  }

  .bottelTab2 {
    display: flex;
    margin: 1rem;
    gap: 1rem;
  }

  .TabClick {
    border: 1px solid #D7D2F0;
    border-radius: 50px;
    width: 50%;
    display: flex;
    gap: 10px;
    background-color: #F6F6F9;
  }

  .activeTab {
    background-color: rgb(255, 255, 255);
  }

  .tabImgDiv {
    border: 1px solid #D7D2F0;
    padding: 10px;
    border-radius: 50px;
    width: 55px;
    height: 50px;
    align-items: center;
    display: flex;
    margin: 0rem;
  }

  .tabImgDiv img {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 2px;
  }

  .TabImgTitle {
    margin: auto 0rem;
    white-space: nowrap;
  }

  .TabClick h1 {
    font-family: 'Gotham', Times, serif;
    font-size: 12px;
    margin-bottom: 0rem;
    font-weight: bold;
    line-height: 15px;
    width: 75%;
  }


  .TabimgHuman {
    width: 25%;
  }

  .TabimgHuman img {
    width: 100%;
  }

  .TabingDetailsDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 1rem 1rem 1rem;
  }

  .humanDecribtionDiv {
    overflow: auto;
    height: 387px;
    padding: 0px 10px 10px 10px;
    width: 50%;
  }

  .humanDecribtionDiv::-webkit-scrollbar {
    width: 3px;
  }

  .humanDecribtionDiv::-webkit-scrollbar-track {
    background: #afafaf;
  }

  .humanDecribtionDiv::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 20px;
  }

  .humanDecribtionDiv::-webkit-scrollbar-thumb:hover {
    background: #828282;
  }

  .humanDecribtion h1 {
    font-family: 'Gotham', Times, serif;
    margin-top: 1rem;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
  }

  .humanDecribtion p {
    font-family: 'Gotham', Times, serif;
    font-size: 12px;
    line-height: 15px;
  }

  .tabHR {
    border-bottom: 1px solid gray;
  }

  .activeTab1 {
    border: 1px solid #6f329e;
    background-color: rgb(252, 252, 252);
  }

  .activeTab2 {
    border: 1px solid #094495;
    background-color: rgb(252, 252, 252);

  }

  .activeTab3 {
    border: 1px solid #f18358;
    background-color: rgb(252, 252, 252);
  }

  .activeTab4 {
    border: 1px solid #45d5fd;
    background-color: rgb(252, 252, 252);
  }

  .tabHR1 {
    border-bottom: 1px solid #6f329e;
  }

  .tabHR2 {
    border-bottom: 1px solid #094495;
  }

  .tabHR3 {
    border-bottom: 1px solid #f18358;
  }

  .tabHR4 {
    border-bottom: 1px solid #45d5fd;
  }

  .mobBuybtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }

  .mobBuybtn button {
    font-family: 'Gotham', Times, serif;
    font-size: 16px;
    line-height: 30px;
    border: none;
    border-radius: 34px;
    background-color: black;
    color: rgb(255, 255, 255);
    width: 66%;
  }


  /*..... Modal css Start .....*/

  .mainModalDiv {
    margin: 1rem 1rem 1rem 1rem;
  }

  .brunoImgModal {
    left: 20px;
    position: relative;
  }

  .modalImg {
    width: 100%;
    margin: auto;
  }

  .modalContentData {
    display: flex;
  }

  .modaltitle {
    margin: auto 0px;
    text-align: center;
    background-color: rgba(249, 195, 0, 1);
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .modaltitle p {
    color: black;
    margin-bottom: 0rem;
    font-family: 'Gotham', Times, serif;
    font-size: 11px;
  }

  .modalContent {
    display: grid;
  }

  .Accordian1 {
    align-items: baseline;
    display: flex;
    justify-content: center;
    padding: 1rem 1rem 0rem;
    background-color: #f4f3f4;
  }

  .active {
    background-color: rgb(255, 255, 255);
  }

  .Accordian1 label {
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Gotham', Times, serif;
  }

  .dollar {
    font-size: 13px;
    top: -3px;
    position: relative;
  }

  .cents {
    font-size: 13px;
    top: -3px;
    position: relative;
  }

  .offprice {
    color: #575959;
    text-decoration: line-through;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    padding-left: 4px;
  }

  .accordionContent p {
    padding: 0rem 0rem 0rem;
  }

  .stocDiv {
    padding: 0rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: column;
    font-family: 'Gotham', Times, serif;
  }

  .stock {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #589555;
    margin: 0px 0px 10px;
  }

  .cutomMainDiv {
    display: flex;
  }

  .customSelectnew {
    height: 25px;
    background: #f0f1f2;
    border: .5px solid #bbb;
    border-radius: 10px;
    display: flex;
    padding: 0 6px;
  }

  .qty {
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    padding: 5px;
    margin: auto;
  }

  .selectDivnew {
    outline: none;
    background: none;
    border: none;
    color: #000;
  }

  .unit {
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    margin: auto 5px;
  }

  .customSelect3 {
    margin-top: 1rem;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    width: 80px;
    height: 25px;
    background: #f0f1f2;
    color: #000;
    border: .5px solid #bbb;
    border-radius: 10px;
    text-align: center;
  }

  .selectDiv3 {
    height: 25px;
    background: #f0f1f2;
    border: 0.5px solid #bbb;
    border-radius: 10px;
    display: flex;
    padding: 0 12px;

  }

  .addCartButton {
    width: 100%;
    height: 45px;
    background: #000;
    border-radius: 100px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 20px 0;
    cursor: pointer;
  }

  .Accordian2 {
    align-items: baseline;
    display: flex;
    justify-content: center;
    background-color: #f4f3f4;
    padding: 1rem 1rem 0rem;
  }

  .Accordian2 label {
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Gotham', Times, serif;
  }

  .active2 {
    background-color: rgb(255, 255, 255);
  }

  .saveContent {
    overflow: auto;
    height: 200px;
    padding: 0rem 2rem 0rem 2rem;
    font-family: 'Gotham', Times, serif;
  }

  .saveContent::-webkit-scrollbar {
    width: 3px;
  }

  .p_content::-webkit-scrollbar-track {
    background: #afafaf;
  }

  .saveContent::-webkit-scrollbar-thumb {
    background: #7a7a7a;
    border-radius: 20px;
  }

  .saveContent::-webkit-scrollbar-thumb:hover {
    background: #828282;
  }

  .stocDiv2 {
    display: flex;
  }

  .save {
    padding: 3px 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #000;
    background: #80db69;
  }

  .savetext {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: auto 0;
    padding-left: 5px;
  }

  .sectionbar2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .sectionbar2 ul {
    list-style: disc;
  }

  .sectionbar3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(86, 0, 140);
    display: flex;
    align-items: center;
  }

  .LearnbText {
    cursor: pointer;
    margin-right: 5px;
  }

  .UpArrow {
    width: 13px;
    height: 13px;
    transform: rotate(270deg);
    margin: auto 4px;
    transition: transform 0.3s ease;
  }

  .UpArrow svg path {
    fill: rgb(86, 0, 140);
    stroke: rgb(86, 0, 140);
  }

  .rotate90 {
    transform: rotate(90deg);
  }

  .desclimerText {
    padding: 0rem 10px 0rem !important;
    flex-direction: column;
    row-gap: 10px;
    font-size: 9px;
    margin-top: 15px;
  }

  .sectionbar4 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .informatonText p {
    margin-bottom: 0rem;
    font-family: 'Gotham', Times, serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
  }

  .infoBtn {
    margin-bottom: 4px;
  }

  .stocDiv3 {
    padding: 0rem 2rem 0rem 0rem;
    display: flex;
    flex-direction: column;
  }

  .stock2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #589555;
    margin: 0px 0px 10px;
  }

  /*..... Modal css End .....*/
}

@media only screen and (max-width:550px) and (min-width:426px) {
  .TabimgHuman {
    width: 45%;
  }
  .TabImgTitle {
    white-space:unset;
  }

}

@media (max-width: 425px) {
  .TabimgHuman {
    width: 45%;
  }
  .TabImgTitle {
    white-space:unset;
  }
}

@media (max-width: 375px) {
  .TabimgHuman {
    width: 50%;
  }

  .humanDecribtionDiv {
    height: 340px;
  }
}

@media (max-width:320px) {
  .humanDecribtionDiv {
    height: 280px;
  }
}