.returndiv h1{
text-align: center;
margin-top: 10px;
font-family: var(--bmd-font-Primary);
}
/* .returndivtendo{
    display: flex;
    flex-direction: column;
    top:10%;
    margin-top: 20px;
} */
.tendoreturn{
    position: relative;
    bottom: -60px;
}
.returndivtendo h1{
    text-align: center;
    /* margin-top: 50px; */
    font-family: var(--bmd-font-Primary);
}