.btn {
    font-family: Gotham-Book, Arial, serif;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    line-height: 1.2em;
    background: #000000;
    border: 1px solid #000000;
    cursor: pointer;
    text-transform: uppercase;
    padding: 1rem 2rem;
    transition: all 0.25s;
    margin-top: 10px;
    width:100%;
    max-width: 175px;
  }