.imageControl video {
    width: 100%
}

.ExtraCod {
    float: right;
    top: 5rem;
    position: relative;
  }
  
  .ExtraCod span {
    display: inline-block;
    font-size: 18px;
    font-family: var(--bmd-font-Secondary);
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    height: 41px;
    line-height: 32px;
    padding: 0px 25px 0 30px;
    position: relative;
    color: #fff;
    margin: 0px 0 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;  }
  
  .ExtraCod span:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    top: 18px;
    border-bottom: 14px solid rgb(255, 255, 255);
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    transform: translate(-15px, -5px) rotate(90deg);
  }
  
  @keyframes infiniteZoom {
    0%, 100% {
      transform: scale(1); 
    }
    50% {
      transform: scale(1.2); 
    }
  }
  
  .ExtraCod span:hover {
    background-color: rgb(0 51 161);
    color: rgb(255, 255, 255);
    animation: infiniteZoom 2s infinite; 
  }




.studiHolder{
    scroll-margin-top: 60px;
}
.reasonsHeader {
    font-family: ivypresto-display, "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: 52px;
    color: #000
}

.believeBluerex {
    font-family: ivypresto-display, "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: 52px
}

.headingVideo {
    margin: auto;
    margin: 25px auto;
    max-width: 1380px
}

.slidercrot {
    padding: 0 40px;
    margin: 40px 0
}

.imageControl {
    padding: 0 15px
}

.imageControl h3 {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #56008c;
    margin: 28px 0 10px 0;
    font-family: var(--bmd-font-Secondary)
}

.imageControl .subtitleh {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #56008c;
    margin: 28px 0 10px 0;
    font-family: var(--bmd-font-Secondary);
    text-transform: capitalize
}

.imageControl .subtitlep {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    color: #000;
    margin: 10px 0 10px 0;
    font-family: var(--bmd-font-Secondary);
    text-transform: unset
}

.imageControl p {
    display: flex;
    justify-content: center;
    gap: 5px;
    text-align: center;
    margin: auto;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #56008c;
    margin: 0 0 8px 0;
    align-items: center;
    text-transform: uppercase;
    font-family: var(--bmd-font-Secondary)
}

.imageControl p svg {
    transform: rotate(180deg);
    fill: #56008c;
    accent-color: #56008c;
    padding: 2px
}

.imageControl p svg path {
    accent-color: #56008c;
    fill: #56008c
}

.modal {
    opacity: 1;
    height: 100vh;
    background: rgba(0, 43, 78, .58);
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1111;
    padding: 15px 0
}

.modal::-webkit-scrollbar {
    display: none
}

.modal {
    -ms-overflow-style: none;
    scrollbar-width: none
}

.modalOverlayV2 {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    cursor: pointer;
    position: absolute
}

.title {
    font-family: var(--bmd-font-Secondary);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 10px
}

.modalContainer1 {
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px 10px;
    width: 80%;
    margin: auto;
    height: auto;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
    padding: 50px 30px;
    overflow: auto
}

@media screen and (max-width:1220px) {
    .headingVideo {
        margin: auto;
        width: 90%
    }
}

@media screen and (max-width:769px) {
    .headingVideo h3 {
        font-size: 32px
    }

    .headingVideo p {
        font-size: 32px
    }

    .headingVideo {
        font-size: 32px;
        line-height: 38px
    }

    .v2,
    .v2Container {
        margin-left: 5%
    }

    .title {
        font-size: 16px
    }

    .desc {
        margin: 0;
        font-size: 14px
    }

    .readMore {
        font-size: 12px
    }

    .modalCardContainerV2 {
        overflow: scroll;
        max-height: 300px
    }

    .modalContainer1 {
        top: 40%;
        max-height: 400px
    }

    .modalContainer1 {
        padding: 50px
    }
}

@media screen and (max-width:500px) {
    .studiHolder{
        scroll-margin-top: 75px;
    }
    .modalContainer1 {
        top: 40%;
        max-height: 400px;
        padding: 10px 20px
    }

    .modalImgHolder {
        width: 100%;
        height: auto
    }

    .modalCardContainerV2 {
        max-height: 380px
    }
}

.exitButton1 {
    position: absolute;
    right: 4px;
    top: -5px;
    border-radius: 10px;
    border: .5px solid #000;
    background: #fff;
    width: 35px;
    height: 35px
}

.exitButton1 svg {
    padding: 25%
}

.modalCardContainerV2>p {
    margin-bottom: 20px
}

@media screen and (max-width:1440px) {

    .v2,
    .v2Container {
        max-width: 1024px
    }

    .modalCardContainerV2 {
        max-height: 250px
    }

    .modalCardContainerV2::-webkit-scrollbar {
        display: none
    }

    .modalCardContainerV2 {
        -ms-overflow-style: none;
        scrollbar-width: none
    }
}

.expanded {
    font-size: 14px;
    min-height: 30px;
    color: #000;
    font-family: var(--bmd-font-Secondary)
}

.expanded ul {
    list-style: disc inside
}

.expanded ol {
    list-style: decimal inside
}

@media screen and (max-width:1500px) {
    .headingVideo {
        max-width: 1200px
    }
}

@media screen and (max-width:1440px) {
    .headingVideo {
        max-width: 1024px
    }
}

@media screen and (max-width:610px) {
    .ing {
        width: 100%
    }

    .cardContainer .expanded {
        height: 65px;
        width: 90%;
        overflow: hidden
    }
}

@media (max-width:767px) {
    .imageControl h3 {
        font-size: 16px;
        margin: 10px 0 5px 0;
        font-weight: 300
    }

    .imageControl .subtitleh {
        font-size: 16px;
        margin: 10px 0 5px 0;
        font-weight: 300
    }

    .imageControl p {
        font-size: 12px;
        margin: 4px 0 0 0
    }

    .slidercrot {
        padding: 0 2px;
        margin: 30px 0
    }
}