.brunoDecription2 {
    width: 100%;
    margin-top: 3rem;
    text-align: center;
    max-width: 1380px;
}

.bruno3000 {
    text-align: center;
}

.brunoDecription2 h1 {
    font-size: 50px;
    font-family: "ivypresto-display", "Times New Roman", Times, serif;
    color: rgb(0, 0, 0);
}

.tendoProductmain {
    display: flex;
    margin-top: 3rem;
    gap: 2rem;
}

.tendo_Product {
    width: 33%;
    /* border: 1px solid rgb(219, 34, 34); */
}

.Produc_div {
    border: 1px solid #D7D2F0;
    border-radius: 34px;
    display: flex;
    gap: 20px;
    padding: 1rem;
    margin-bottom: 2rem;
}

.Product_img {
    width: 40%;
}

.Product_img img {
    width: 100%;
}

.Product_content {
    width: 60%;
    text-align: left;
}

.Product_content h1 {
    font-family: var(--bmd-font-Secondary);
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 0px;
}

.Product_content h2 {
    font-family: var(--bmd-font-Secondary);
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;

}

.Product_content p {
    font-family: var(--bmd-font-Secondary);
    line-height: 18px;
    font-size: 14px;

}

.tendo_buttonDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.tendoMed_color {
    background-color: #0033a1;
    height: 20px;
    border-radius: 3px;
    width: 30%;
}

.tendo_buttonDiv button {
    font-family: var(--bmd-font-Secondary);
    font-size: 16px;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    padding: 4px 18px;
}

.Produc_div2 {
    display: none;
}

.tendo_human {
    width: 33%;
    /* border: 1px solid rgb(0, 0, 0); */
}

.tendo_human img {
    width: 62%;
}

.tendo_Product2 {
    width: 33%;
    /* border: 1px solid rgb(0, 0, 0); */
}

.Tendo_details_div {
    /* border: 1px solid; */
    /* height: 200px; */
    display: flex;
    gap: 1rem;
}
.Tendo_detail{
    border: 1px solid #D7D2F0;
    border-radius: 34px;
    /* height: 180px; */
    width: 33%;
    display: flex;
    padding: 1.5rem;
}
.Right_line{
    border-right: 3px solid #6F329E;
    height: auto;
}
.Tendo_content{
    
    padding: 0px 20px;
    text-align: left;
}
.Tendo_content h1{
    font-family: var(--bmd-font-Secondary);
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}
.Tendo_content p{
    font-family: var(--bmd-font-Secondary);
    font-size: 14px;
    line-height: 18px;
}