.brunoDecription2 {
    width: 100% !important;
    margin-top: 3rem !important;
    text-align: center !important;
    max-width: 1380px !important;
}

.bruno3000 {
    text-align: center !important;
}

.brunoDecription2 h1 {
    font-size: 50px !important;
    font-family: "ivypresto-display", "Times New Roman", Times, serif;
    color: rgb(0, 0, 0);
}

.tendoProductDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.tendoProduct {
    border: 2px solid #0033A1;
    max-width: 500px;
    border-radius: 30px;
    display: flex;
    padding: 20px;
    gap: 10px;
    width: 100%;
}

.tendoImg {
    margin: auto;
    width: 30%;
    /* border: 1px solid rgb(0, 60, 255); */
}

.tendoImg img {
    width: 100%;
}

.tendoContent {
    /* border: 1px solid rgb(3, 3, 3); */
    width: 70%;
}

.tendoContent h1 {
    font-family: var(--bmd-font-Secondary);
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0px;
    color: #000;
}

.tendoContent h2 {
    font-family: var(--bmd-font-Secondary);
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 0px;
}

.tendoContent p {
    font-family: var(--bmd-font-Secondary);
    font-size: 14px;
    color: #103450;
    margin-bottom: 0px;
}

.tendoButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.tendoMedcolor {
    background-color: #0033A1;
    height: 20px;
    border-radius: 3px;
    width: 30%;
}

.tendoButton button {
    font-family: var(--bmd-font-Secondary);
    font-size: 16px;
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    padding: 4px 18px;
}

.tendoDecriptionmain {
    margin: auto;
    display: flex;
    width: 100% !important;
    max-width: 1380px !important;
    display: flex !important;
    padding: 20px;
}

.tendoDetailmain {
    cursor: pointer;
    margin-top: 1rem;
}

.tendoDetailmain2 {
    display: none;
}

.tendoBox {
    width: 33%;
}

.tendoBox2 {
    width: 33%;
}

.tendoDetail.active {
    display: flex;
    border: 2px solid #0033a1;
    border-radius: 34px;
    background-color: rgba(255, 255, 255, 0.267);
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.tendoDetail.inactive {
    display: flex;
    border: 2px solid #0033a13f;
    border-radius: 34px;
    background-color: rgba(215, 210, 240, .267);
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.rightLine {
    border-right: 4px solid #0033A1;
    height: 140px;
}

.rightLineInactive {
    border-right: 4px solid #0033a13f;
}

.rightLineActive {
    border-right: 4px solid #0033A1;
}

.tendotext {
    padding: 0 20px;
}

.tendotext h1 {
    font-weight: 700;
    font-family: var(--bmd-font-Secondary);
    font-size: 18px;
}

.tendotext p {
    font-family: var(--bmd-font-Secondary);
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0px;
}

.humanMain {
    width: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.humanMain img {
    /* height: 100%; */
    width: 55%;
}

/* Blink dots css start */
.humanBody {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.blinkDiv {
    /* border: 1px solid; */
    display: flex;
    position: absolute;
    width: 80%;
}


/* Blink Dots CSS End */

.formqw {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;
}

.extrared {
    color: rgb(255, 19, 19);
    font-weight: 500;
}

.extrared {
    /* display: flex; */
    display: inline-block;
    font-size: 16px;
    font-family: ivypresto-display, "Times New Roman", Times, serif;
    background-color: #e3000a;
    height: 23px;
    line-height: 22px;
    padding: 0px 7px 0 10px;
    position: relative;
    color: #fff;
    margin: 0px 0 0 6px;
}

.extrared:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 11px solid rgb(255, 255, 255);
    border-left: 16px solid transparent;
    border-right: 17px solid transparent;
    transform: translate(-15px, -5px) rotate(90deg);
}



@media only screen and (max-width:2560px) and (min-width:1920px) {
    .tendoDecriptionmain {
        margin-top: 3rem;
        padding: 0px;
    }
}

@media only screen and (max-width:1919px) and (min-width:1441px) {
    .tendoDecriptionmain {
        margin-top: 2rem;
        padding: 0px;
    }
}



@media (max-width:1440px) {
    .tendoDecriptionmain {
        padding: 0px;
    }
}

@media (max-width:1400px) {
    .tendoDecriptionmain {
        padding: 20px;
    }
}

@media (max-width:991px) {
    .tendoProduct {
        width: 50%;
    }

    .tendoBox {
        width: 50%;
    }

    .tendoBox2 {
        width: 50%;
    }

    .humanMain {
        width: 50%;

    }
}

@media (max-width:900px) {
    .tendoBox {
        height: 400px;
        overflow-y: scroll;
        padding-right: 20px;
        width: 70%;
    }

    .tendoBox2 {
        display: none;
    }

    .tendoDetailmain2 {
        display: block;
    }

    .rightLine {
        height: 90px;
    }
}

@media (max-width:768px) {
    .brunoDecription2 h1 {
        font-size: 30px !important;
    }

    .tendoButton button {
        font-size: 12px;
    }

    .tendotext h1 {
        font-size: 14px;
        margin-bottom: 0px;
    }

    .tendotext h2 {
        font-size: 12px;
    }

    .humanMain img {
        width: 80%;
    }


}

@media (max-width:650px) {
    .tendoProduct {
        width: 70%;
    }
}

@media (max-width:550px) {
    .tendoDecriptionmain {
        display: block !important;
        margin-top: 1rem;
    }
    .tendoBox::-webkit-scrollbar {
        width: 3.5px; 
      }
      
      .tendoBox::-webkit-scrollbar-track {
        background: #7a7a7a; 
      }
      
      .tendoBox::-webkit-scrollbar-thumb {
        background: #000000; 
        border-radius: 20px;
      }
      
      .tendoBox::-webkit-scrollbar-thumb:hover {
        background: #828282;
      }
    
    
    .tendoBox {
        width: 100%;
        padding-right: 15px;
        height: 250px;
        overflow-y: scroll;
    }


    .humanMain {
        margin: 1rem auto;
    }

    .humanMain img {
        width: 70% !important;
    }
}

@media (max-width:500px) {
    .humanBody {
        width: 100%;
    }

    .tendoProduct {
        width: 90%;
    }

    /* Blink Css start */
    .yelloDotsBlink1 {
        top: -11rem;
        left: 4.5rem;
    }

    .yelloDotsBlink2 {
        top: -6.5rem;
        left: 1rem;
    }

    .yelloDotsBlink3 {
        top: -4rem;
        left: 3.5rem;
    }

    .yelloDotsBlink4 {
        left: -3rem;
    }

    .yelloDotsBlink5 {
        left: 0.5rem;
    }

    .yelloDotsBlink6 {
        left: -2rem;
    }

    .yelloDotsBlink7 {
        left: 0rem;
    }

    .greenDotsBlink1 {
        left: 0.2rem;
    }

    .greenDotsBlink2 {
        left: 2rem;
    }

    .greenDotsBlink3 {
        left: 0.9rem;
    }

    .greenDotsBlink4 {
        top: -6.5rem;
        left: -1rem;
    }

    .greenDotsBlink5 {
        left: -4.1rem;
    }


    .orangeDotsBlink1 {
        left: 0.3rem;
    }

    .orangeDotsBlink2 {
        left: 1.5rem;
    }

    .orangeDotsBlink3 {
        left: 1rem;
    }

    .orangeDotsBlink4 {
        top: -6.3rem;
        left: -1rem;
    }

    .orangeDotsBlink5 {
        left: -4rem;
    }

    .skyDotsBlink1 {
        left: 0rem;
    }

    .skyDotsBlink2 {
        left: 2rem;
    }

    .skyDotsBlink3 {
        left: 1.2rem
    }

    .skyDotsBlink4 {
        top: -5rem;
        left: 3rem;
    }

    .skyDotsBlink5 {
        left: 5.4rem;
    }

    .skyDotsBlink6 {
        left: 1rem;
    }

    /* Bink Css End */

}

@media (max-width:375px) {
    .tendotext {
        padding: 0 0px 0px 10px;
    }

    .tendotext p {
        font-size: 13px;
    }

    .rightLine {
        height: 105px;
    }
}

@media(max-width:320px) {
    .yelloDotsBlink1 {
        top: -8rem;
        left: 3.5rem;
    }

    .yelloDotsBlink2 {
        top: -4.5rem;
        left: 0.5rem;
    }

    .yelloDotsBlink3 {
        top: -4.5rem;
        left: 3rem;
    }

    .yelloDotsBlink4 {}

    .yelloDotsBlink5 {
        left: -0.5rem;
    }

    .yelloDotsBlink6 {
        left: -3rem;
    }

    .yelloDotsBlink7 {
        left: -1rem;
    }

    .greenDotsBlink1 {}

    .greenDotsBlink2 {
        left: 1rem;
    }

    .greenDotsBlink3 {
        left: -0.1rem;
    }

    .greenDotsBlink4 {
        top: -5rem;
        left: -1rem;
    }

    .greenDotsBlink5 {}

    .orangeDotsBlink1{

    }
    .orangeDotsBlink2{

    }
    .orangeDotsBlink3 {
        left: 0rem;
    }
    .orangeDotsBlink4{
        top: -5.3rem;
    }
    .orangeDotsBlink5{

    }
    .skyDotsBlink1{

    }
    .skyDotsBlink2{
        left: 1rem;
        top: 8rem;
    }
    .skyDotsBlink3{
        left: 0.2rem;
    }
    .skyDotsBlink4{
        top: -4.5rem;
        left: 2rem;
    }
    .skyDotsBlink5{
        left: 2.5rem;
        top: 0rem;

    }
    .skyDotsBlink6{
        left: 0rem;
        top: 8rem;
    }

}