.btnStickyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  transform: translate(0%, -50%);
  right: 0;
  width: 60px;
  height: 325px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  flex-direction: column;
  z-index: 111;
  .border {
    position: absolute;
    width: 75%;
    bottom: 18%;
    border-top: 2px dotted #fff;
  }
}
.btnStickyTitle {
  font-family: var(--bmd-font-Secondary);
  position: absolute;
  text-transform: uppercase;
  bottom: 55%;
  transform: rotate(-90deg);
  font-size: 19px;
  line-height: 23px;
  width: max-content;
}
.titlePrice {
  position: absolute;
  bottom: 7.5%;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 18px;
  font-family: var(--bmd-font-Secondary);
  display: flex;
  .priceFirstIndex {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
}
.stickyModalConatiner {
  position: fixed;
  top: 50%;
  transform: translate(5%, -50%);
  right: 6%;
  z-index: 1111;
  height: fit-content;
  width: 350px;
  .priceBoxContainer {
    background: #fff;
    border-radius: 2.5%;
    filter: drop-shadow(-15px 0px 30px rgba(255, 255, 255, 0.5));
    overflow: hidden;
  }
  .stickyModalConatinerArrow {
    position: absolute;
    right: -7%;
    top: 50%;
    transform: rotate(-90deg);
    z-index: 11;
    .svgWrapper {
      width: 35px;
      height: 25px;
      transform: rotate(90deg);
    }
  }
}

@media screen and (max-width: 1025px) {
  .stickyModalConatiner {
    right: 10%;
  }
}
@media screen and (max-width: 769px) {
  .btnStickyContainer {
    width: 50px;
    height: 275px;
    z-index: 1111;
    display: none;
  }
  .stickyModalConatiner {
    right: 13%;
  }
  .btnStickyTitle {
    font-size: 18px;
  }
  .titlePrice {
    font-size: 9px;
  }
  .priceFirstIndex {
    font-size: 18px;
  }
  @media screen and (max-width: 426px) {
    .stickyModalConatiner {
      right: 18%;
    }
  }
  @media screen and (max-width: 376px) {
    .stickyModalConatiner {
      right: 10%;
    }
  }
  @media screen and (max-width: 400px) {
    .stickyModalConatiner {
      right: 20%;
      width: 80%;
    }
  }
}
