.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1380px;
    width: 100%
}

.twoCol {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.wrapper {
    max-width: 700px;
    margin: auto
}

.header,
.subHeader {
    font-family: ivypresto-display, "Times New Roman", Times, serif;
    font-size: 48px;
    font-weight: 400;
    color: #000;
    line-height: 58px
}

.dGrid {
    display: grid;
    place-items: center;
    height: fit-content;
    /* margin: auto; */
    transition: transform 0.3s ease;
}
  
  .dGrid:hover {
    transform: scale(1.2); 
    cursor: pointer;
  }
.buyNow {
    background: #000;
    background-color: #000;
    border: 1px solid transparent;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    margin: auto auto 2em;
    padding: .25rem 1rem;
    text-align: center;
    transition: color .1s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    vertical-align: middle
}

.underHeaderNote {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    margin-top: 18px;
    font-family: var(--bmd-font-Primary);
    margin-bottom: 30px
}

.accordion {
    font-family: Gotham-Medium;
    max-width: max-content;
    font-size: 16px;
    font-weight: 300;
    color: #4d4d4d
}

.accordionButton {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem
}

.accordionPanel {
    padding: .25rem .5rem .5rem
}

.note {
    cursor: pointer;
    padding-right: 10px;
    color: #000;
    text-transform: uppercase;
    font-family: var(--bmd-font-Secondary);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 10px
}

.titleColor {
    color: var(--titlecolor)
}

.downArrow {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem
}

.icon {
    color: #56008c
}

.expanded {
    margin-bottom: 2rem;
    color: #000;
    font-size: 14px;
    line-height: 21px;
    font-family: var(--bmd-font-Secondary)
}

.image {
    max-width: 400px;
    margin: auto;
    width: 85%;
    height: auto
}

.list {
    list-style-type: disc;
    padding-right: 15px;
}

.description {
    font-size: 14px;
    font-family: var(--bmd-font-Secondary)
}

@media screen and (max-width:1380px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1024px;
        width: 100%
    }
}

@media screen and (max-width:1000px) {
    .twoCol {
        flex-direction: column;
        padding: 0 2rem;
        display: grid;
        margin: 70px 0 70px 0;
    }


    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 768px;
        width: 100%
    }

    .expanded,
    .note {
        font-size: 14px;
        line-height: 18px
    }
}

@media screen and (max-width:769px) {

    .header,
    .subHeader {
        font-size: 32px;
        line-height: 38px
    }
}

@media screen and (max-width:426px) {
    .dGrid  {
       width: 75%;
    }
    .header,
    .subHeader {
    padding-right: 3rem;
    }
    .twoCol {
        padding: 0 1rem
    }

    .wrapper {
        max-width: 400px;
        padding: 1rem;
        margin: 0px;
    }
    .list {
        padding-right: 15px;
    }
}
@media screen and (max-width:375px) {
    .wrapper {
        max-width: 350px;
        padding: 1rem;
        margin: 0px;
    }
}
@media screen and (max-width:320px) {
    .wrapper {
        max-width: 300px;
        padding: 1rem;
        margin: 0px;
    }
}