.nextCarousel {
    margin-top: 9rem;
    margin-bottom: 1rem;
    background-color: rgba(244, 244, 244, 1);
    display: flex;
    align-items: center;
}

.bothButton2 {
    gap: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bothButton3 {
    display: none;
}

.LeftBtn {
    background-color: rgb(2, 2, 2) !important;
    height: 67px;
    width: 67px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}



.LeftBtn:hover svg path {
    fill: #ffffff;
    stroke: #ffffff;
}


.RightBtn {
    background-color: rgb(9, 9, 9) !important;
    height: 67px;
    width: 67px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled {
    opacity: 0.2;
    cursor: not-allowed;
}




.RightBtn:hover svg path {
    fill: #ffffff;
    stroke: #ffffff;
}

.SliderDiv3 {
    margin: auto !important;
    width: 100% !important;
    max-width: 1380px;
    padding: 20px;
}

.brunoDecription4 {
    width: 100% !important;
    margin-top: 3rem !important;
    text-align: center;
    max-width: 1380px !important;
}

.brunoDecription4 p {
    font-family: var(--bmd-font-Secondary);

    line-height: 24px !important;
}

.brunoDecription4 h1 {
    font-size: 50px !important;
    font-family: var(--bmd-font-Primary);

    color: rgb(0, 0, 0);
}

.slider3data {
    display: flex !important;
    gap: 40px;
}

.slider2Details1 {
    /* display: contents; */
    max-width: 358px;
}

.sliderContent {
    width: 98%;
    margin-right: 0rem !important;
}
.slider2Details1 img{
    width:100% !important;
}
.sliderContentIMG1{
    width: 100%;
}


.slider2Details1 a{
    display: flex;
    background-color: #000;
    color: #fff !important;
    font-size: 18px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.sliderContent h6 {
    font-family: var(--bmd-font-Primary);

    font-size: 20px;
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
}

.forscrollbar {
    height: 400px;
    padding-right: 1rem;
    scroll-behavior: smooth;
    overflow-y: scroll;

}


.forscrollbar::-webkit-scrollbar {
    width: 3px;
}

.forscrollbar::-webkit-scrollbar-track {
    background: #afafaf;
}

.forscrollbar::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 20px;
}

.forscrollbar::-webkit-scrollbar-thumb:hover {
    background: #828282;
}

.Pcontent {
    font-family: var(--bmd-font-Secondary);

    font-size: 13px;
}

.blackHr {
    color: rgba(0, 0, 0, 1);
}

.highlightedHeading {
    animation: zoomInOut 3s ease-in-out infinite;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
        background-color: transparent;
    }

    50% {
        transform: scale(1.1);
        background-color: rgb(0, 51, 161);
        ;
        color: white;
    }

    100% {
        transform: scale(1);
        background-color: transparent;
    }
}

.highlightedHeading2 {
    animation: zoomInOut2 3s ease-in-out infinite;
}

@keyframes zoomInOut2 {
    0% {
        transform: scale(1);
        background-color: transparent;
    }

    50% {
        transform: scale(1.1);
        background-color: rgba(9, 68, 149, 1);
        color: white;
    }

    100% {
        transform: scale(1);
        background-color: transparent;
    }
}

.highlightedHeading3 {
    animation: zoomInOut3 3s ease-in-out infinite;
}

@keyframes zoomInOut3 {
    0% {
        transform: scale(1);
        background-color: transparent;
    }

    50% {
        transform: scale(1.1);
        background-color: rgba(241, 131, 88, 1);
        color: white;
    }

    100% {
        transform: scale(1);
        background-color: transparent;
    }
}

.highlightedHeading4 {
    animation: zoomInOut4 3s ease-in-out infinite;
}

@keyframes zoomInOut4 {
    0% {
        transform: scale(1);
        background-color: transparent;
    }

    50% {
        transform: scale(1.1);
        background-color: rgb(86, 204, 240);
        color: white;
    }

    100% {
        transform: scale(1);
        background-color: transparent;
    }
}

.sliderContentIMG {
    width: 30%;
}

.sliderContentIMG img {
    width: 95%;
}

.sliderContent3 {
    width: 35%;
    padding-right: 10px !important;
}

.sliderContent3 h3 {
    font-family: var(--bmd-font-Primary);
    font-size: 38px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
}

.sliderContent3 h5 {
    font-family: var(--bmd-font-Primary);

    font-size: 40px;
    margin-top: 1rem;
    color: #000000;
}

.forRound {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.round {
    border-radius: 34px;
    border: 1px solid rgb(2, 2, 2);
    cursor: pointer;
}

/* ToolTip Css start */

.tooltip2 {
    position: relative;
    cursor: pointer;
    /* Changes the cursor to a pointer */
}

.tooltip2 span {
    visibility: hidden;
    /* Initially hide the tooltip text */
    width: 200px;
    /* Set a width for the tooltip */
    background-color: #000000;
    /* Background color for the tooltip */
    color: #fff;
    /* Text color */
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
    padding-bottom: 1rem;
}

.tooltip2:hover span {
    visibility: visible;
    opacity: 1;
}

/* ToolTip Css End */

.modalToolTip h1 {
    position: sticky;
    top: 0rem;
    background-color: #ffffff;
    font-size: 22px;
    color: rgb(0, 0, 0);
    font-family: var(--bmd-font-Primary);
}

.modalToolTip h2 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: var(--bmd-font-Primary);
}

.modalToolTip p {
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-family: var(--bmd-font-Secondary);
}

.round p {
    padding: 10px 8px;
    margin-bottom: 0rem;
    font-size: 14px;
    font-family: var(--bmd-font-Secondary);
    color: #000000;
}

.blackHr2 {
    color: rgba(0, 0, 0, 1);
    margin-top: 1rem;
    opacity: 1;
}

.roundBtn {
    margin-top: 1rem;
    border-radius: 34px;
    border: 1px solid rgb(2, 2, 2);
}

.roundBtn p {
    font-family: var(--bmd-font-Secondary);

    padding: 10px;
    align-items: center;
    margin-bottom: 0rem;
    display: flex;
    font-size: 20px;
    border-radius: 34px;
    justify-content: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

/* ..... Modal css Start .....*/

.mainModalDiv {
    margin: 2rem 4rem 2rem 4rem;
    display: flex;
    gap: 50px;
}

.brunoImgModal {
    left: 1rem;
    position: relative;
}

.brunoImgModal img {
    width: 100%;
}

.modalImg {
    width: 60%;
    margin: auto;
}

.modalContentData {
    display: flex;
}

.modaltitle {
    margin: auto 0px;
    text-align: center;
    background-color: rgba(249, 195, 0, 1);
    padding: 1rem 4rem 1rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modaltitle p {
    color: black;
    margin-bottom: 0rem;
    font-family: var(--bmd-font-Secondary);
}

.modalContent {
    width: 40%;
    display: grid;
}

.Accordian1 {
    align-items: baseline;
    display: flex;
    justify-content: center;
    padding: 1rem 1rem 0rem;
    background-color: #f4f3f4;
}

.active {
    background-color: rgb(255, 255, 255);
}

.Accordian1 label {
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    font-size: 16px;
    font-family: var(--bmd-font-Secondary);
}

.dollar {
    font-size: 13px;
    top: -3px;
    position: relative;
}

.cents {
    font-size: 13px;
    top: -3px;
    position: relative;
}

.offprice {
    color: #575959;
    text-decoration: line-through;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    padding-left: 4px;
}

.accordionContent p {
    padding: 0rem 1rem 0rem;
    white-space: nowrap;
}

.stocDiv {
    padding: 0rem 2rem 0rem 2rem;
    display: flex;
    flex-direction: column;
    font-family: var(--bmd-font-Secondary);

}

.stock {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #589555;
    margin: 0px 0px 10px;
}

.cutomMainDiv {
    display: flex;
}

.customSelectnew {
    height: 25px;
    background: #f0f1f2;
    border: .5px solid #bbb;
    border-radius: 10px;
    display: flex;
    padding: 0 6px;
}

.qty {
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    padding: 5px;
    margin: auto;
}

.selectDivnew {
    outline: none;
    background: none;
    border: none;
    color: #000;
}

.unit {
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    margin: auto 5px;
}

.customSelect3 {
    margin-top: 1rem;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    width: 80px;
    height: 25px;
    background: #f0f1f2;
    color: #000;
    border: .5px solid #bbb;
    border-radius: 10px;
    text-align: center;
}

.selectDiv3 {
    height: 25px;
    background: #f0f1f2;
    border: 0.5px solid #bbb;
    border-radius: 10px;
    display: flex;
    padding: 0 12px;
}

.addCartButton {
    width: 100%;
    height: 45px;
    background: #000;
    border-radius: 100px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 20px 0;
    cursor: pointer;
}

.Accordian2 {
    align-items: baseline;
    display: flex;
    justify-content: center;
    background-color: #f4f3f4;
    padding: 1rem 1rem 0rem;
}

.Accordian2 label {
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    font-size: 16px;
    font-family: var(--bmd-font-Secondary);

}

.active2 {
    background-color: rgb(255, 255, 255);
}

.saveContent {
    overflow: auto;
    height: 200px;
    padding: 0rem 2rem 0rem 2rem;
    font-family: var(--bmd-font-Secondary);

}

.saveContent::-webkit-scrollbar {
    width: 3px;
}

.saveContent::-webkit-scrollbar-track {
    background: #ffffff;
}

.saveContent::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 20px;
}

.saveContent::-webkit-scrollbar-thumb:hover {
    background: #828282;
}

.stocDiv2 {
    display: flex;
}

.save {
    padding: 3px 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #000;
    background: #80db69;
}

.savetext {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: auto 0;
    padding-left: 5px;
}

.sectionbar2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

.sectionbar2 ul {
    list-style: disc;
}

.sectionbar3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(0, 51, 161);
    ;
    display: flex;
    align-items: center;
}

.LearnbText {
    cursor: pointer;
    margin-right: 5px;
}

.UpArrow {
    width: 13px;
    height: 13px;
    transform: rotate(270deg);
    margin: auto 4px;
    transition: transform 0.3s ease;
}

.UpArrow svg path {
    fill: rgb(0, 51, 161);
    stroke: rgb(0, 51, 161);

}

.rotate90 {
    transform: rotate(90deg);
}

.desclimerText {
    padding: 0rem 10px 0rem !important;
    flex-direction: column;
    row-gap: 10px;
    font-size: 9px;
    margin-top: 15px;
}

.sectionbar4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.informatonText p {
    margin-bottom: 0rem;
    font-family: var(--bmd-font-Secondary);

    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.infoBtn {
    margin-bottom: 4px;
}

.stocDiv3 {
    padding: 0rem 2rem 0rem 0rem;
    display: flex;
    flex-direction: column;
}

.stock2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #589555;
    margin: 0px 0px 10px;
}

.sliderContent a{
    text-decoration: none;
    transition: 0.9s;
    color: #0033a1;


}

.sliderContent a:hover{
    text-decoration: underline;
    transition: 0.9s;


}

/*..... Modal css End .....*/

@media only screen and (max-width:2560px) and (min-width:1921px) {
    .bothButton2 {
        position: absolute;
        text-align: center;
        padding: 20px !important;
        width: 100%;
        align-items: center;
    }

    .brunoDecription4 h1 {
        line-height: 102px;
        font-size: 60px !important;
    }

    .slider3data {
        margin-top: 5rem;
    }

    .sliderContent h6 {
        font-size: 25px;
        line-height: 45px;
    }

    .sliderContent p {
        font-size: 18px;
        line-height: 22px;
    }

    .forscrollbar {
        /* overflow: auto; */
        height: 450px;
        scroll-behavior: smooth;
        overflow-y: auto;
    }

    .sliderContent3 h3 {
        font-size: 55px !important;
        line-height: 60px;
    }

    .slideContent h5 {
        font-size: 40px;
        line-height: 48px;
    }

    .round p {
        font-size: 16px;
        line-height: 30px;
        padding: 10px 20px;
        width: max-content;
    }

    .roundBtn p {
        font-size: 30px;
    }
}

@media (max-width:1920px) {
    .bothButton2 {
        margin-top: -6rem;
        margin-right: -1.5rem;
        position: absolute;
        text-align: center;
        padding: 20px !important;
        width: 100%;
        align-items: center;
    }

    .slider3data {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .Pcontent {
        font-size: 18px;
    }

    .sliderContentIMG {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .sliderContentIMG img {
        width: 75%;
    }

}

@media (max-width:1600px) {
    .sliderContentIMG {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .sliderContentIMG img {
        width: 75%;
    }

}

@media (max-width:1440px) {
    .bothButton2 {
        position: absolute;
        text-align: center;
        padding: 20px !important;
        width: 100%;
        align-items: center;
    }

    .slider3data {
        margin: 3rem 0rem;
        width: 100%;
        max-width: 1380px;
        padding: 0px;
    }

    .sliderContentIMG {
        text-align: center;
        margin: auto;
        justify-content: center;
        display: flex;
    }

    .sliderContentIMG img {
        width: 75%;
    }

}

@media (max-width:1300px) {
    .slider3data {
        padding: 0px;
    }
}

@media (max-width:1024px) {
    .bothButton2 {
        margin-right: -1rem;
        padding-top: 4rem !important;
    }

    .sliderContent h6 {
        font-size: 16px;
    }

    .forscrollbar {
        overflow: auto;
        /* height: 370px; */
    }

    .sliderContent3 h3 {

        font-size: 31px;
    }

    .sliderContent3 h5 {
        font-size: 24px;
    }

    .round p {
        font-size: 12px;
    }

    /* .....Modal css Start ......*/

    .mainModalDiv {
        margin: 2rem;
    }

    .modalContentData {
        right: 2rem;
        position: relative;
    }

    .brunoImgModal {
        position: relative;
        left: 15px;
    }

    .modaltitle {
        padding: 10px;
    }

    .modaltitle h6 {
        margin-bottom: 0rem;
    }

    .modaltitle p {
        font-size: 13px;
    }

    .modalContent {
        width: 50%;
    }
}

/*..... Modal css End .....*/

@media (max-width:991px) {
    .bothButton2 {
        margin-top: -8rem;
        margin-right: -1.3rem;
    }

    .brunoDecription4 h1 {
        padding-top: 3rem;
    }

    .slider3data {
        padding: 15px !important;
        margin-top: 2rem;
    }

    .forscrollbar {
        overflow: auto;
        /* height: 250px; */
    }

    .sliderContent3 h3 {
        font-size: 24px;

    }

    .sliderContent3 h5 {
        font-size: 24px;
    }

    .sliderContent3 h6 {
        font-size: 18px;
    }

    .round {
        width: fit-content;
        border-radius: 34px;
        border: 1px solid rgb(2, 2, 2);
    }

    .round p {
        font-size: 10px;
    }

    .blackHr2 {
        margin-top: 1rem;
    }

    .roundBtn {
        margin-top: 1rem;
    }

    .roundBtn p {
        font-size: 16px;
    }

    /*..... Modal css Start .....*/
    .modaltitle p {
        font-size: 11px;
    }
}

/*..... Modal css End .....*/


@media (max-width:767px) {

    .slider2Details1 {
    
        margin: auto !important;
    }
    .brunoDecription4 {
        margin-top: 0rem !important;

    }

    .brunoDecription4 h1 {
        font-size: 30px !important;
        padding-top: 1rem;
        margin-bottom: 0rem;
    }

    .brunoDecription4 p {
        font-size: 12px;
    }

    .nextCarousel {
        margin-top: -2rem;
        margin-bottom: 1.5rem;
    }


    .slider3data {
        display: grid!important;
        margin-top: 0rem;
        padding: 0rem !important;
    }

    .SliderDiv3 {
        width: 100% !important;
    }

    .sliderContent {
        width: 100%;
        padding: 10px 18px;
    }

    .sliderContent h6 {
        font-size: 18px;
        line-height: 24px;
    }

    .forscrollbar {
        height: 300px;
    }

    .accordionContent p {
        padding: 0rem 0rem 0rem;
    }

    .sliderContent p {
        font-size: 14px;
        line-height: 18px;
    }

    .slider2Details {
        display: flex;
        margin-top: 2rem;
    }

    .sliderContentIMG {
        width: 35%;
        margin: 0rem;
    }

    .sliderContent3 {
        width: 65%;
        margin: auto;
    }

    .sliderContent3 h3 {
        font-size: 20px;
        line-height: 24px;
    }

    .sliderContent3 h5 {
        font-size: 16px;
    }

    .roundBtn p {
        padding: 5px;
    }

    .round p {
        font-size: 12px;
    }

    .forRound {
        max-height: 230px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .bothButton2Main {
        display: none;
    }

    .bothButton2Main2 {
        position: absolute;
        margin: auto;
        justify-content: center;
        display: flex;
        width: 100%;
    }

    .bothButton3 {
        gap: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 5rem;
    }

    .mainModalDiv {
        display: block;
    }

    .modalImg {
        width: 100%;
        margin: auto;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .modalContentData {
        right: 1.5rem;
        position: relative;
        margin-bottom: 1rem;
    }

    .modalContent {
        width: 100%;
    }

}

@media (max-width:767px) {
    .forscrollbar {
        height: 250px;
    }

}

@media (max-width:767px) {
    .modalToolTip h1 {
        font-size: 16px;
    }
    .modalToolTip h2 {
        font-size: 16px;
    }
    .modalToolTip p {
        font-size: 12px;
    }
}